<!DOCTYPE html>
{% load staticfiles %}
<!--suppress ProblematicWhitespace, InconsistentLineSeparators -->
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Deft | CodeRare</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

      <!-- Favicon ================== -->
      <!-- Standard -->
      <link rel="shortcut icon" href="{% static './img/favicon-144.png' %}">
      <!-- Retina iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="144x144" href="{% static './img/favicon-144.png' %}">
      <!-- Retina iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="114x114" href="{% static './img/favicon-114.png' %}">
      <!-- Standard iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="72x72" href="{% static './img/favicon-72.png' %}">
      <!-- Standard iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static './img/favicon-57.png' %}">

      <!--  Resources style ================== -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link href="{% static './css/theme-FuchiStudio.css' %}" rel="stylesheet" type="text/css" media="all"/>



	  </head>
    <body>

<section class="animsition">
<div id="na/js/jquery-1.11.3.min.jsvbar">
<ul class="nav">
<strong>
<li><a href="#home">Home</a></li>
<li><a href="#contact">Contact</a></li>
</strong>
</ul>
</div>

    <h1>Thiis is checkout page
    </h1>

</section>
<script>

	  var offset = 300,
	//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
	offset_opacity = 1200,
	//duration of the top scrolling animation (in ms)
	scroll_top_duration = 700;

	  </script>
      <script src="{% static './js/jquery-1.11.3.min.js' %}"></script>
      <script src="{% static './js/bootstrap.min.js' %}"></script>
      <script src="{% static './js/animsition.min.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script src="{% static './js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static './js/jquery.countdown.min.js' %}"></script>
      <script src="{% static './js/twitterFetcher_min.js' %}"></script>
      <script src="{% static './js/masonry.pkgd.min.js' %}"></script>
      <script src="{% static './js/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static './js/jquery.flexslider-min.js' %}"></script>
      <script src="{% static './js/photoswipe.min.js' %}"></script>
      <script src="{% static './js/photoswipe-ui-default.min.js' %}"></script>
      <script src="{% static './js/jqinstapics.min.js' %}"></script>
      <script src="{% static './js/script.js' %}"></script>
    </body></html>